* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.offer-section {
  background-color: rgb(4, 79, 63);

}

p,
a {
  color: #ffff;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  padding: 10px 0;
  cursor: pointer;
  text-decoration: none;
}

.offer-section span {
  color: rgba(14, 169, 135, 0.657)
}

@media only screen and (max-width: 500px) {

  .offer-section p a {
    font-size: 10px;
    animation-duration: 100s;
    animation-timing-function: ease-in;
  }

  p a {
    animation-name: anim-1;
  }

  @keyframes anim-1 {

    0%,
    8.3% {
      left: -100%;
      opacity: 0;
    }

    8.3%,
    25% {
      left: 25%;
      opacity: 1;
    }

    33.33%,
    100% {
      left: 110%;
      opacity: 0;
    }
  }
}